
# Logs
*.log
npm-debug.log*

# Packages
node_modules/
uniq-server/node_modules
uniq-web/node_modules

# Build files
build/
uniq-server/index.js
uniq-web/build
uniq-*.tgz

# Database files
uniq-server/db

# Firebase account info
uniq-server/firebaseServiceAccount.json

# SSL config
uniq-server/*.key
uniq-server/*.crt

# Misc Ubuntu files
uniq-server/etc
uniq-web/etc

# VS Code config
.vscode/**
